doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Object Table
        a(href="/updates") Add/update this table


        table
            thead
                tr
                    th Name
                    th Location
                    th Scientific Name
            tbody
            each plant in data
                tr
                    td= plant.properties.plant_name
                    td= plant.properties.plant_location
                    td= plant.properties.plant_scientific_same