doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Object Table
        .cards 
            each plant in data
                .card 
                    h2.card__name #{plant.properties.plant_location}  #{plant.properties.plant_name}
                    p.card__email #{plant.properties.plant_scientific_same}